<!DOCTYPE html>
<html>
  <head>
    <title>Administracja - Relacja live</title>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>

  	<script src="js/main.js"></script>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/css/admin.css' />
<!--     <link rel='stylesheet' href='/css/style.css' /> -->
  </head>

<body>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Relacja LIVE</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Strona główna</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Wyloguj</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


<div class="container">
  <div class="jumbotron">

  <div>
    <form id="clubsForm" action="">
      <div class="input-group">
        <span class="input-group-addon">Gospodarze</span>
        <input id="firstClubInput" type="text" placeholder="Gospodarze" class="form-control" required disabled pattern="[A-Z].+">
      </div>

      <div class="input-group">
        <span class="input-group-addon">Goście</span>
        <input id="secondClubInput" type="text" placeholder="Goście" class="form-control" required disabled pattern="[A-Z].+">
      </div>

      <input id="clubsSubmit" type="submit" value="Zapisz drużyny" class="btn btn-lg btn-warning btn-block" disabled>
    </form>
  </div>

  <div>
    <form id="messageForm" action="">
      <select id="option" class="form-control" disabled>
        <option value="none" selected>Normalne</option>
        <option value="red">Czerwona kartka</option>
        <option value="yellow">Żółta kartka</option>
        <option value="gol">Gol</option>
        <option value="change">Zmiana</option>
        <option value="contusion">Kontuzja</option>
        <option value="corner">Rzut rożny</option>
        <option value="penalty">Rzut karny</option>
        <option value="timer">Rozpoczęcie, zakończenie</option>
      </select>

      <select id="goalTeam" class="form-control" style="display:none;">
        <option value="firstTeam">Dla gospodarzy</option>
        <option value="secondTeam">Dla gości</option>
      </select>

      <input id="time" type="number" placeholder="Czas" step="1" min="0" max="99" class="form-control" disabled>
      <input id="comment" type="text" placeholder="Komentarz" class="form-control" required disabled pattern="[A-Z]+[a-z].+">
      <input id="messageSubmit" type="submit" value="Dodaj komentarz" class="btn btn-lg btn-success btn-block" disabled>
    </form>

<form id="endForm">
    <input id="endRelation" value="Zakończ relację" type="submit" class="btn btn-lg btn-danger btn-block" disabled>
</form>
<!--     <div class="console">
      <h4>Konsola</h4>
      
    </div> -->


  </div>
</div>
</div>

</body>
</html>