<!DOCTYPE html>
<html>
  <head>
    <title>Administracja - Relacja live</title>
    <script src="socket.io/socket.io.js"></script>
  	<script src="angular/angular.min.js"></script>
  	<script src="js/main.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>

<body data-ng-app="relacja">
  <div data-ng-controller="relacjaCtrlr">

      

    <form action="" data-ng-submit="sendMsg()">
      <select id="option" data-ng-model="option.text">
        <option value="none" selected>Normalne</option>
        <option value="red">Czerwona kartka</option>
        <option value="yellow">Żółta kartka</option>
        <option value="gol">Gol</option>
        <option value="change">Zmiana</option>
      </select>
      <input type="number" data-ng-model="min.text" placeholder="Czas" step="1" required>
      <input type="text" data-ng-model="msg.text" placeholder="Komentarz" required>
      <input type="submit">
    </form>
<br />
<div data-ng-repeat="msg in msgs track by $index">{{msg}}</div>


  </div>
</body>
</html>