<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="css/style.css">
	<script src="socket.io/socket.io.js"></script>
  	<script src="angular/angular.min.js"></script>
  	<script src="js/main.js"></script>
</head>
<body>
	<div class="all" align="center">
		<div class="header">
			<h1 class="teamNames">Real Madryt - FC Barcelona</h1>
		</div>

		<div class="content">
			<div class="teams">
				<div class="team" id="firstClub">
					Real Madryt
				</div>

				<div class="team" id="secondClub">
					FC Barcelona
				</div>
				<div id="score">
					1:0
				</div>
			</div>

		<div data-ng-app="relacja">
  			<div data-ng-controller="relacjaCtrlr">
			    <div class="relation">
      				<div data-ng-repeat="msg in msgs track by $index" class="message">{{msg}}</div>
    			</div>
			</div>
		</div>

	</div>
	<div class="login">
		<a href="/login">LOGOWANIE</a>
	</div>
</body>
</html>