<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="all" align="center">
		<div class="header">
			<h1 class="teamNames">Real Madryt - FC Barcelona</h1>
		</div>

		<div class="content">
			<div class="teams">
				<div class="team" id="firstClub">
					Real Madryt
				</div>

				<div class="team" id="secondClub">
					FC Barcelona
				</div>
				<div id="score">
					1:0
				</div>
			</div>

			<div class="relation">
				<div class="message">
					15 min. - Po pięknej akcji pada pierwszy gol dla drużyny gospodarzy, a zdobywcą bramki jest Criastiano Ronaldo!
				</div>
				<div class="message">
					10 min. - Żółta kartka dla Puyola za brutalny faul.
				</div>
				<div class="message">
					1 min. - Sędzia rozpoczyna mecz!
				</div>
				<div class="message">
					<b>Witamy w relacji "akcja po akcji"</b>
				</div>
			</div>

	</div>
	<div class="login">
		<a href="/login">LOGOWANIE</a>
	</div>
</body>
</html>